@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
}

.wordParent {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   padding: 1rem;
}

form {
   margin-top: 1rem;
}
