@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
}

.wrapper {
   display: flex;
   flex-direction: column;
   padding: 2rem;
}

.synonymsParent {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   p {
      margin-right: 1rem;
   }
}

.synonym {
   color: #2980b9;

   &:hover {
      cursor: pointer;
      text-decoration: underline;
   }
}

.wordParent {
   height: 100%;
   width: 100%;
   margin: 0 auto;
}

button {
   padding: 0.3rem;
   border: 0.5rem solid #2c3e50;
   border-radius: 0.3rem;
   font-size: 1.2rem;
   background: #2c3e50;
   color: white;
   margin-right: 0.4rem;
}

form {
   margin-top: 1rem;
}

.search {
   padding: 0.5rem;
   font-size: 1.2rem;
}
